RA4/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="llibreta_contactes">
    <xs:complexType>
        <xs:sequence>

            <xs:element name="contacto" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="apellidos" type="xs:string"/>
                        <xs:element name="edad">
                            <xs:complexType mixed="true">
                                <xs:attribute name="mallor">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="si"/>
                                            <xs:enumeration value="no"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="dirección">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="calle" type="xs:string"/>
                                    <xs:element name="num_calle" type="xs:integer" minOccurs="0"/>
                                    <xs:element name="cod_postal" type="xs:string"/>
                                    <xs:element name="ciudad" type="xs:string"/>
                                </xs:sequence>
                                <xs:attribute name="domicilio">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="principal"/>
                                            <xs:enumeration value="secundario"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="dir_email" type="xs:string"/>
                        <xs:element name="telefons">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="fix" type="xs:string"/>
                                    <xs:element name="móvil" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="es_familiar">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="si"/>
                                <xs:enumeration value="no"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
